#main{
    height: 475px;
    background-color:#ECECEC;
    padding-top: 55px;
    .container{
        height: 398px;
        .login{
            background-color:#fff;
            width: 747px;height: 398px;
            border:1px solid #ccc;
            margin: 0 auto;
            padding-top: 30px;
            position:relative;
            .register_l{
                width: 433px;
                height: 385px;
                li{
                    line-height: 20px;
                    #output{
                        height: 29px;
                        width: 169px;
                        color:#fff;
                        background-color:#FF5A00;
                    }
                    .input_yan{
                        height: 24px;
                        width: 93px;
                        border:1px solid #ccc;
                    }
                    .input_size{
                        height: 24px;
                        width: 205px;
                        border:1px solid #ccc;
                    }
                    label{
                        text-align:right;
                        float:left;
                        display:block;
                        height: 24px;
                        width: 125px;
                        line-height: 24px;
                    }
                }
            }
            .login_nav{
                .register{
                    position:absolute;
                    top: -33px;left: 145px;
                    background-color:#FFFFFF;
                    border:1px solid #FF9900;
                    border-bottom:none;
                }
                li{
                    position:absolute;
                    top: -33px;left: 365px;
                    text-align:center;
                    float:left;
                    height: 32px;
                    width: 216px;
                    background-color:#F8F8F8;
                    border:1px solid #ccc;
                    border-bottom:none;
                    padding-top: 9px;
                }
            }
        }
    }
}